---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mojombo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1468496289'
      Etag:
      - W/"56d3cd89d70773ea7e8a55b04b816018"
      Last-Modified:
      - Tue, 12 Jul 2016 20:04:09 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"mojombo","id":1,"avatar_url":"https://avatars.githubusercontent.com/u/1?v=3","gravatar_id":"","url":"https://api.github.com/users/mojombo","html_url":"https://github.com/mojombo","followers_url":"https://api.github.com/users/mojombo/followers","following_url":"https://api.github.com/users/mojombo/following{/other_user}","gists_url":"https://api.github.com/users/mojombo/gists{/gist_id}","starred_url":"https://api.github.com/users/mojombo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mojombo/subscriptions","organizations_url":"https://api.github.com/users/mojombo/orgs","repos_url":"https://api.github.com/users/mojombo/repos","events_url":"https://api.github.com/users/mojombo/events{/privacy}","received_events_url":"https://api.github.com/users/mojombo/received_events","type":"User","site_admin":false,"name":"Tom
        Preston-Werner","company":null,"blog":"http://tom.preston-werner.com","location":"San
        Francisco","email":"tom@mojombo.com","hireable":null,"bio":null,"public_repos":60,"public_gists":62,"followers":19431,"following":11,"created_at":"2007-10-20T05:24:19Z","updated_at":"2016-07-12T20:04:09Z"}'
  recorded_at: Thu, 14 Jul 2016 10:46:30 GMT
recorded_with: VCR 3.0.3
