---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/brynary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1468496289'
      Etag:
      - W/"72e013be116494bf1a46d27a83b821be"
      Last-Modified:
      - Tue, 12 Jul 2016 12:40:15 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"brynary","id":19,"avatar_url":"https://avatars.githubusercontent.com/u/19?v=3","gravatar_id":"","url":"https://api.github.com/users/brynary","html_url":"https://github.com/brynary","followers_url":"https://api.github.com/users/brynary/followers","following_url":"https://api.github.com/users/brynary/following{/other_user}","gists_url":"https://api.github.com/users/brynary/gists{/gist_id}","starred_url":"https://api.github.com/users/brynary/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brynary/subscriptions","organizations_url":"https://api.github.com/users/brynary/orgs","repos_url":"https://api.github.com/users/brynary/repos","events_url":"https://api.github.com/users/brynary/events{/privacy}","received_events_url":"https://api.github.com/users/brynary/received_events","type":"User","site_admin":false,"name":"Bryan
        Helmkamp","company":"Code Climate","blog":"http://codeclimate.com","location":"New
        York City","email":"bryan@brynary.com","hireable":null,"bio":null,"public_repos":160,"public_gists":65,"followers":545,"following":28,"created_at":"2008-01-13T10:19:47Z","updated_at":"2016-07-12T12:40:15Z"}'
  recorded_at: Thu, 14 Jul 2016 10:46:29 GMT
recorded_with: VCR 3.0.3
