<div class="container">
  <h1>Profile</h1>
  <h2><%= @user.name %></h2>

  
        <h4>User Info:</h4>
          <div id="github-user-info">
              <div id="profileimg"></div>
              <div id="profileurl"></div>
              <ul id="jsonhere"></ul>
              <ul id="starred"></ul>
          </div>

        <h4> Repositories</h4>
            <ul id="repos"></ul>


</div>
